// Colors
$white: #FFF;
$coral: #FA824C;
$flame: #E4572E;
$shiny-shamrock: #4CA866;
$blue-de-france: #3C91E6;
$black: #000000;
$isabelline: #EEEDED;
$buff: #F1DD7B;
$light-red-ochre: #E87554;
$turquoise-green: #9DCFAB;
$blue-jeans: #5FA5EA;
$outer-space: #454545;
$spanish-gray:#989797;
$vanilla: #F5E7A1;
$pastel-pink: #F2B2A0;
$pastel-gray: #bddfc7;
$jordy-blue: #82B9EF;
$quick-silver: #A2A2A2;

// Font sizes
$font-size-xxxl: 70px;
$font-size-xxl: 40px;
$font-size-xl: 30px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;

// Font families
$font-family-mono: 'PT Mono', monospace;
$font-family-roboto: 'Roboto', sans-serif;


// Espaciados
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;


$text-muted-color: #828282; // Definición correcta
