.header {
  padding: 20px;
  background-color: $white;
  border-bottom: 1px solid $isabelline;
  overflow: hidden;  

  &__logo {
    float: left; 

    img {
      height: 2rem;  
    }
  }

  &__nav {
    float: right;  
    @include flex-center;
    gap: 20px;
  }

  &__item {
    font-size: $font-size-large;
    color: $outer-space;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }

  &__buttons {
    clear: both; 
    @include flex-center;
    gap: 10px;

    .btn--primary {
      @extend .btn;
      border: 1px solid $outer-space;
      background: none;
      color: $outer-space;

      &:hover {
        background: $outer-space;
        color: $white;
      }
    }

    .btn--secondary {
      @extend .btn;
      background-color: $shiny-shamrock;
      color: $white;

      &:hover {
        background-color: darken($shiny-shamrock, 10%);
      }
    }
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
