.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: $white;

    &__item {
        margin: 0 10px;
        font-size: 1rem;
        color: $black;
    }
}
